/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;	
}

main >.intro {
	padding: 0 30px;
}

main >.intro >.hello {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	text-align: center;
}

main >.intro >.tagline {
	font-size: 1.5rem;
	margin: 1rem 0;
	font-weight: 100;
	text-align: center;
}

main >.copyrightContainer {
	position: fixed; width: 100%; bottom: 10px; text-align: center;
}

.copyright {	
	font-size: 1rem;
}

.photoContainer {
	float: left;
}

.photo {
	height: 300px; width: 300px; object-fit: cover; padding-right: -300px; border-radius: 50%;
}

.name {
	position: absolute; text-align: center; width: 300px; font-size: 1.5rem; font-weight: bold;
}

.avatarContainer {
	float: right;
}

.avatar {
	height: 300px; width: 300px; object-fit: cover; padding-left: -300px; border-radius: 50%;
}

.pseudo {
	position: absolute; text-align: center; width: 300px; font-size: 1.5rem; font-weight: bold;
}

.pseudoText {
	position: absolute; text-align: center; width: 300px; margin-top: -20px;
}

.icons-social {
	text-align: center;
}

.icons-social i {
	font-size: 3em;
	padding: 10px;	
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}